<div class="container-fixed col-12">
<img src="/assets/banner.png" class="img-fluid mx-auto d-block" alt="banner">


<nav class="navbar navbar-dark navbar-full bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <a class="navbar-brand" [routerLink]="['']">
    <img src="/assets/logo.png"  alt="logo">
  </a>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <ul class="nav navbar-nav float-lg-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['busqueda']">Búsqueda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['recursos']">Recursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
      </li>

    </ul>
  </div>
</nav>
</div>
